/* Глобальный стиль */
body {
    font-family: Inter, sans-serif;
    background: linear-gradient(135deg, #72acf2, #2dd6fc);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Центровщик SPA */
.centered-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Основная обёртка */
.app-wrapper {
    margin-top: 40px;
    width: 800px;
    background: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.3);
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Заголовок */
.title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
    font-weight: 700;
    color: #333;
}

/* Карточка формы */
.form-card {
    background: #f8f9fc;
    padding: 20px;
    border-radius: 14px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    animation: fadeIn 0.8s ease;
}

/* Кастомный инпут */
.input {
    padding: 12px 14px;
    border-radius: 10px;
    border: 2px solid #cdd6e0;
    font-size: 15px;
    outline: none;
    transition: 0.25s;
    background: #ffffff;
}

    .input:focus {
        border-color: #4d8dff;
        box-shadow: 0 0 8px rgba(77,141,255,0.4);
        transform: scale(1.02);
    }

/* Кастомная кнопка */
.btn {
    padding: 12px 16px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    background: #4d8dff;
    color: #fff;
    transition: 0.25s;
    font-weight: 600;
}

    .btn:hover {
        background: #346fe0;
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(77,141,255,0.4);
    }

/* Таблица */
.table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    animation: fadeIn 1s ease;
}

    .table th {
        background: #f0f3f8;
        padding: 14px;
        font-size: 15px;
        color: #444;
        border-bottom: 1px solid #dce2eb;
    }

    .table td {
        padding: 12px;
        border-bottom: 1px solid #eef1f5;
        font-size: 14px;
    }

    .table tr:hover {
        background: #f7faff;
        transition: 0.2s;
    }

/* Кнопки действий */
.edit {
    background: #ffc107;
}

    .edit:hover {
        background: #e0a800;
        transform: scale(1.05);
    }

.delete {
    background: #dc3545;
    color: white;
}

    .delete:hover {
        background: #bb2d3b;
        transform: scale(1.05);
    }
